{{#if tasks}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N.</th>
        <th>Title</th>
        <th>Description</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      {{#each tasks}}
        <tr>
          <td>{{@index}}</td>
          <td>
            {{title}}
          </td>
          <td>
            {{description}}
          </td>
          <td>
            {{#if done}}
              <a href="/toogle_done/{{_id}}" class="btn btn-dark">Undone</a>
            {{else}}
              <a href="/toogle_done/{{_id}}" class="btn btn-success">Done</a>
            {{/if}}
            <a href="/deleteTask/{{_id}}" class="btn btn-danger">Delete</a>
            <a href="/editTask/{{_id}}" class="btn btn-info">Update</a>
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No task</h1>
      <img src="/Icons/sheets-sheet-svgrepo-com.svg" alt="" class="w-25" />
    </div>

  </div>
{{/if}}